<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="with=device-width, initial-scale
     =1.0">   
        <title>Robyn Stella Murray</title>
        <link rel="stylesheet" href="main.css">
    </head>
<body>
    <div class = "topLeftCorner">
        <div>
          <h1>Robyn Stella</h1>
      </div>
      <div class="nav left">
          <input type="checkbox">
            <span></span>
            <span></span>
            <div class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/papers">Papers</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/cv">CV</a></li>
            </div>
    
      </div>
    </div>
    <div class = "aboutHeading box">
        <h1>Hi, I'm Robyn...</h1>
    </div>
    <div class ="aboutPicture">
        <img src ="./robyn.png" width="400" height="600">
    </div>
    
    <div class = "about">
       
        <p>I’m a final year Honour student at the University of Witwatersrand, majoring in English Literature and Language. Ever since I can remember I have been a highly creative individual with a specific knack for the English language. As such, a convergence between my love for English and Creativity resulted in a deep-rooted interest in PR and Digital Marketing. With excellent written and verbal communication as well as impeccable interpersonal skills, I believe I would be a valuable addition to any team. What I may lack in experience I make up for in sheer drive and determination - I am always willing to learn and put in the hard graft in order to complete a task. 
            </p>
            <br>
            <p>
                I have built this website from the ground up to act as my digital portfolio - here you will find all my contact details, writing samples, as well as my formal curriculum vitae. 
            </p>
            <br>
            <p>
                Enjoy your visit!
            </p>
    </div>
</body>

<script src="./navigation.js"></script>
</html> 