<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="with=device-width, initial-scale
     =1.0">   
        <title>Robyn Stella Murray</title>
        <link rel="stylesheet" href="main.css">
    </head>
<body>
    <div class = "topLeftCorner">
        <div>
            <h1>Robyn Stella</h1>
        </div>
        <div class="nav left">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/papers">Papers</a></li>
                <li><a href="/CV">CV</a></li>
              </div>
    
    </div>
    </div>
   
<div class = "contactCard">
    <h2 class = "contactHeading">Robyn Stella Murray contact details: </h2>
    <div >
        <img class ='details' src="./email.png" width="50" height="50" >
        <p  class ='details'>robynsmurray@gmail.com</p>
    </div>
    <div >
        <img class ='details' src="./phone.png" width="50" height="50" >
        <p  class ='details'>079 886 2160</p>
    </div>

        <div >
            <img class ='details' src="./Insta.png" width="50" height="50" >
            <p  class ='details'>instagram.com/robynstellam</p>
        </div>
</div>

</body>

<script src="./navigation.js"></script>
</html> 