<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="with=device-width, initial-scale
     =1.0">   
        <title>Robyn Stella Murray</title>
        <link rel="stylesheet" href="main.css">
    </head>
<body>
    <div class="nav right">
        <input type="checkbox">
          <span></span>
          <span></span>
          <div class="menu">
            <li><a href="/About">About me</a></li>
            <li><a href="/papers">Papers</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/CV">CV</a></li>
          </div>
      </div>
</body>

<script src="./navigation.js"></script>
</html> 