<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="with=device-width, initial-scale
     =1.0">   
        <title>Robyn Stella Murray</title>
        <link rel="stylesheet" href="main.css">
    </head>
<body>
<div class = "center">
    <div>
      <h1 class ="titleHeading">Robyn Stella</h1>
  </div>
  <div class="nav left">
      <input type="checkbox">
        <span></span>
        <span></span>
        <div class="menu">
          <li><a href="/about">About</a></li>
          <li><a href="/papers">Papers</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/cv">CV</a></li>
        </div>

  </div>
</div>

<div class="waterMark">
  <h6>Designed by Robyn Stella Murray</h6>
</div>
  

</body>

<script src="./navigation.js"></script>
</html> 