*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;

}

.topcorner{
    position:relative;
    top:0;
    right:0;
   }



body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #b8b8b8;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body, .nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.nav {
    position: relative;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.left {
    float: left;
}

.right {
    float: right
}
.TopCenter {
    align-self: center;
}

.paper {
    width: 80%;
    border: 5px solid black;
    font-size: 100%;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 1.8;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    top: 50%;
    color: #161919;
}

.paperBox {
    position: absolute;
    top: 10%;
    left: 10%;
}

.contactCard {
        margin-top: 20px;
        background-color: honeydew;
        bottom: auto;
        color: black;
        border: 10px solid beige;
        border-radius: 25px;
        padding: 1%;
        font-family: Georgia, serif;
        font-size: 300%;
        
}

.topRightCorner {
    position: absolute;
    left: 90%;
    top: 1%
}

.topLeftCorner {
    position:  absolute;
    left: 1%;
    top: 1%;
}

.TopCenter {
    position: absolute;
    left: 35%;
    top: 1%;
}

.center {
    position: absolute;
    left: 40%;
    top: 40%;
}

.paperButton {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 25px;
    font-size: 250%;
}

.paperButton:hover {
    background-color: black;
    color: white;
}

.titleHeading { 
    font-family: Georgia, serif;
    font-size: 500%;
    padding-bottom: 1%;
}

.contactHeading { 
    font-family: Georgia, serif;
    font-size: 100%;
    padding-bottom: 1%;
}

.waterMark {
    position: absolute;
    top: 90%;
    left: 75%;
    font-family: Georgia, serif;
    font-size: 300%;
    padding-bottom: 1%;
}

.details {
    display: inline;
    padding-right: 20px;
}

.about{
    position: absolute;
    top: 40%;
    left: 35%;
    width: 50%;
    border: 10px solid black;
    background-color: honeydew;
    padding: 20px;
    color: black;
    font-family: Georgia, serif;
    font-size: 200%;
}

.aboutPicture{
    position: absolute;
    left: 15%;
    top: 35%;
    border: rgb(0, 0, 0) 25px solid;
    border-radius: 5px;
}

.aboutHeading { 
    font-family: Georgia, serif;
    font-size: 250%;
    padding-bottom: 1%;
    position: absolute;
    top: 25%;
    left: 50%;
    color: black;
    text-shadow: 2px 2px 2px #000;
}



